html {
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6, a, div, p, main, aside, footer, header, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "unibody-8-new" ,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.35rem;
}