// $Variables
// ==================================================
// Supports 
// @media min-width
// @media max-width
// @media min-width and max-width

$viewport-increment: 0.1px; // customize to suite

// Desktop
$desktop: 1200px; // customize to suite
$pre-desktop: $desktop - $viewport-increment;

// Tablet
$tablet: 768px; // customize to suite
$pre-tablet: $tablet - $viewport-increment;

// Palm
$palm: 640px; // customize to suite
$post-palm: $palm + $viewport-increment;

// Constraints
$min: min-width;
$max: max-width;


// ==================================================
// $Media Query @Mixin
// ==================================================

@mixin mediaQuery($constraint, $viewport1, $viewport2: null) {

  @if $constraint == $min {

    @media screen and ($min: $viewport1) {
      @content;
    }

  } @else if $constraint == $max {

    @media screen and ($max: $viewport1) {
      @content;
    }

  }

}


// ==================================================
// The Implementation!
// ==================================================
@include mediaQuery($min, $palm) {
  
  .application {
    width: 650px;
    height: 650px;
    background: #FFDDDD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .info {
    position: absolute;
    z-index: 1;
    p {
      font-size: 1.7rem;
    }
  }

  .application-wrapper {
    width: calc(100% - 40px);
    margin: 20px auto;
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
  }


// **********************************
// Happiness & Treat-O-Meter Displays
// **********************************
  .happiness h2{
    text-align: unset;
  }

  .treat-o-meter h2 {
    text-align: unset;
    margin: unset;
  }

  .happiness ul {
    justify-content: unset;
  }

  .happiness ul li {
    margin-right: 10px;
  }

.treat-o-meter ul {
  justify-content: end;
  li {
      margin-left: 10px;
      margin-right: unset;
      img {
          width: 26px;
          height: 14px;
          transform: rotate(135deg);
      }
    }
  }

  // ****************
  // Button Interface
  // ****************
  .praise, .tricks, .treat-o-meter, .happiness {
    h2 {
        margin-bottom: 10px;
    }
  }

  .praise, .tricks {
    height: unset;
  }

  .praise {
  width: 210px;
  div {
      display: flex;
      justify-content: space-between;
  }
  }

  .tricks {
  width: 240px;
  div {
      display: flex;
      justify-content: space-between;
      }
  }

  .info-btn-container {
    align-self: flex-end;
    margin-bottom: unset;
  }
}