// ****************
// Praise & Tricks
// ****************
$outline-width: 4px;
$shadow-width: 2px;

$button-background: #92CD41;
$sec-button-background: #76c442;
$shadow-color:  #4AA52E;

$alt-button-background: rgb(29, 153, 247);
$alt-sec-button-background: rgb(9, 94, 242);
$alt-shadow-color:  rgb(0, 8, 229);

$info-button-background: rgb(179, 179, 179);
$info-sec-button-background: #c7c7c7;
$info-shadow-color:  rgb(121, 121, 121);

// ****************
// Trick Dialogues
// ****************
$woof-outline-width: 4px;
$woof-shadow-width: 2px;

$woof-button-background: #fff;
$woof-sec-button-background: #76c442;
$woof-shadow-color:  #4AA52E;